{% extends 'globus-portal-framework/v2/base.html' %}


{% block body %}

<div class="row">
    <div class="col">
      <h2 class="text-center">{{project_title}}</h2>
    </div>
  </div>
  
  <div class="row mb-5">
    <div class="col"></div>
    <div class="col-10">
      <div>
        <h1 class="text-center">{%block checkout_title%}Hello Flow{%endblock%}</h1>
        <div class="card">
          <div class="card-body">
            <div class="alert alert-success my-3" role="alert">
              Your flow has been started!
            </div>

            See the progress on the <a href="https://app.globus.org/runs/{{run_id}}/">Globus Webapp</a>.
            <br><hr>
            You may also start <a href="{% url 'hello-flow' %}">another flow here</a>.
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>


{% endblock %} 